.caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background: #fff;
    font-size: 2rem;
    color: #bdbdbd;
}
.caption > h4{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}